openapi: 3.2.0
info:
  title: Flora.ai Runs API
  version: 1.6.0
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  description: Top-level run creation endpoints.
servers:
- url: https://app.flora.ai/api/v1
security:
- bearerAuth: []
tags:
- name: Runs
  description: Top-level run creation endpoints.
paths:
  /runs/{runId}:
    get:
      operationId: getRun
      summary: Get a run
      description: Returns status and completed output URLs for a public API run, including action runs started through POST /runs/action.
      tags:
      - Runs
      parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
          pattern: ^run_\S+$
          description: Run identifier
          examples:
          - run_abc123
        description: Run identifier
      responses:
        '200':
          description: Run returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id:
                    type: string
                    pattern: ^run_\S+$
                    description: Run identifier
                    examples:
                    - run_abc123
                  status:
                    enum:
                    - pending
                    - running
                    - completed
                    - failed
                    type: string
                  progress:
                    type: number
                  created_at:
                    type: number
                  started_at:
                    type: number
                  completed_at:
                    type: number
                  error_code:
                    type: string
                    description: Machine-readable run error code
                    examples:
                    - provider_error
                  error_message:
                    type: string
                    description: Human-readable run error message
                    examples:
                    - The provider failed to complete the generation.
                  charged_cost:
                    type: number
                    minimum: 0
                    description: Cost charged in USD
                  outputs:
                    type: array
                    items:
                      type: object
                      properties:
                        output_id:
                          type: string
                          description: Run output identifier
                          examples:
                          - output_1
                        type:
                          enum:
                          - imageUrl
                          - videoUrl
                          - audioUrl
                          - text
                          - documentUrl
                          type: string
                          description: Run output media type
                        url:
                          type: string
                          format: uri
                          description: Run output URL
                          examples:
                          - https://media.flora.ai/output.png
                      required:
                      - output_id
                      - type
                      - url
                  poll_url:
                    type: string
                    format: uri
                required:
                - run_id
                - status
                - progress
                - created_at
        '400':
          description: '400'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                input_validation_error:
                  summary: Invalid request
                  value:
                    error:
                      code: input_validation_error
                      message: 'prompt: Required'
                      fields:
                      - field: prompt
                        message: Required
        '401':
          description: '401'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: unauthorized
                      message: Invalid API key.
        '402':
          description: '402'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                insufficient_credits:
                  summary: Insufficient credits
                  value:
                    error:
                      code: insufficient_credits
                      message: Insufficient credits.
        '403':
          description: '403'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                forbidden:
                  summary: Forbidden
                  value:
                    error:
                      code: forbidden
                      message: Forbidden.
        '404':
          description: '404'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                not_found:
                  summary: Not found
                  value:
                    error:
                      code: not_found
                      message: Not found.
        '409':
          description: '409'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                idempotency_duplicate:
                  summary: Conflict
                  value:
                    error:
                      code: idempotency_duplicate
                      message: Duplicate idempotency key.
        '429':
          description: '429'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                rate_limited:
                  summary: Rate limited
                  value:
                    error:
                      code: rate_limited
                      message: Rate limit exceeded.
        '500':
          description: '500'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                unknown_error:
                  summary: Unknown error
                  value:
                    error:
                      code: unknown_error
                      message: An unknown error occurred.
  /runs/action:
    post:
      operationId: createActionRun
      summary: Start an action run
      description: Starts a headless prebuilt action run using raw action slugs such as rotate-image. Direct action runs do not create or mutate canvas nodes. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
      tags:
      - Runs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - action_id
              - workspace_id
              - project_id
              - inputs
              additionalProperties: false
              properties:
                action_id:
                  description: Action identifier. Use raw action slugs, not action-prefixed IDs.
                  enum:
                  - split-text
                  - find-and-replace-text
                  - concat-text
                  - ken-burns-video
                  - color-grade-image
                  - change-image-ar
                  - rotate-image
                  - flip-image
                  - color-filter-image
                  - color-tint-image
                  - filter-color-image
                  - blur-image
                  - duplicate-image
                  - side-by-side-composite
                  - add-shape-to-image
                  - generate-shape-image
                  - add-text-to-image
                  - generate-text-image
                  - qr-code-generator
                  - stitch-videos
                  - split-video
                  - extract-video-frames
                  - color-grade-video
                  - video-to-frame-grid
                  - boomerang-video
                  - reverse-video
                  - video-to-long-exposure
                  - video-effect
                  - color-filter-video
                  - speed-up-video
                  - slow-down-video
                  - duplicate-video
                  - greenscreen-video
                  - resize-video
                  - change-video-ar
                  - split-audio-from-video
                  - merge-audio-into-video
                  examples:
                  - split-text
                  - find-and-replace-text
                  - concat-text
                  - ken-burns-video
                  - color-grade-image
                  - change-image-ar
                  - rotate-image
                  - flip-image
                  - color-filter-image
                  - color-tint-image
                  - filter-color-image
                  - blur-image
                  - duplicate-image
                  - side-by-side-composite
                  - add-shape-to-image
                  - generate-shape-image
                  - add-text-to-image
                  - generate-text-image
                  - qr-code-generator
                  - stitch-videos
                  - split-video
                  - extract-video-frames
                  - color-grade-video
                  - video-to-frame-grid
                  - boomerang-video
                  - reverse-video
                  - video-to-long-exposure
                  - video-effect
                  - color-filter-video
                  - speed-up-video
                  - slow-down-video
                  - duplicate-video
                  - greenscreen-video
                  - resize-video
                  - change-video-ar
                  - split-audio-from-video
                  - merge-audio-into-video
                  type: string
                workspace_id:
                  type: string
                  description: Workspace identifier
                  examples:
                  - ws_abc123
                project_id:
                  type: string
                  description: Project identifier used for ownership, billing, and run history. Direct action runs do not mutate the project canvas.
                  examples:
                  - prj_abc123
                inputs:
                  type: array
                  description: Action inputs. Direct action runs are headless and read inputs from URLs/text rather than canvas edges.
                  minItems: 1
                  items:
                    type: object
                    required:
                    - type
                    additionalProperties: false
                    properties:
                      type:
                        type: string
                        enum:
                        - image
                        - video
                        - audio
                        - text
                      url:
                        type: string
                        format: uri
                        description: Input media URL
                      text:
                        type: string
                        description: Input text value
                      name:
                        type: string
                        description: Optional input name
                params:
                  type: object
                  description: Action parameters
                  additionalProperties: true
      responses:
        '201':
          description: Action run started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id:
                    type: string
                    pattern: ^run_\S+$
                    description: Run identifier
                    examples:
                    - run_abc123
                  type:
                    enum:
                    - generation
                    - technique
                    - action
                    type: string
                    description: Run type
                  model:
                    anyOf:
                    - type: object
                      properties:
                        model_id:
                          type: string
                          minLength: 1
                          description: Model identifier
                          examples:
                          - t2i-flux-2-pro
                      required:
                      - model_id
                    - type: 'null'
                  technique:
                    anyOf:
                    - type: object
                      properties:
                        technique_id:
                          type: string
                          pattern: ^tech_\S+$
                          description: Technique identifier
                          examples:
                          - tech_abcd1234
                        name:
                          type: string
                          description: Technique name
                      required:
                      - technique_id
                      - name
                    - type: 'null'
                  action:
                    anyOf:
                    - type: object
                      properties:
                        action_id:
                          enum:
                          - split-text
                          - find-and-replace-text
                          - concat-text
                          - ken-burns-video
                          - color-grade-image
                          - change-image-ar
                          - rotate-image
                          - flip-image
                          - color-filter-image
                          - color-tint-image
                          - filter-color-image
                          - blur-image
                          - duplicate-image
                          - side-by-side-composite
                          - add-shape-to-image
                          - generate-shape-image
                          - add-text-to-image
                          - generate-text-image
                          - qr-code-generator
                          - stitch-videos
                          - split-video
                          - extract-video-frames
                          - color-grade-video
                          - video-to-frame-grid
                          - boomerang-video
                          - reverse-video
                          - video-to-long-exposure
                          - video-effect
                          - color-filter-video
                          - speed-up-video
                          - slow-down-video
                          - duplicate-video
                          - greenscreen-video
                          - resize-video
                          - change-video-ar
                          - split-audio-from-video
                          - merge-audio-into-video
                          type: string
                          description: Action identifier
                          examples:
                          - split-text
                          - find-and-replace-text
                          - concat-text
                          - ken-burns-video
                          - color-grade-image
                          - change-image-ar
                          - rotate-image
                          - flip-image
                          - color-filter-image
                          - color-tint-image
                          - filter-color-image
                          - blur-image
                          - duplicate-image
                          - side-by-side-composite
                          - add-shape-to-image
                          - generate-shape-image
                          - add-text-to-image
                          - generate-text-image
                          - qr-code-generator
                          - stitch-videos
                          - split-video
                          - extract-video-frames
                          - color-grade-video
                          - video-to-frame-grid
                          - boomerang-video
                          - reverse-video
                          - video-to-long-exposure
                          - video-effect
                          - color-filter-video
                          - speed-up-video
                          - slow-down-video
                          - duplicate-video
                          - greenscreen-video
                          - resize-video
                          - change-video-ar
                          - split-audio-from-video
                          - merge-audio-into-video
                      required:
                      - action_id
                    - type: 'null'
                  estimated_seconds:
                    anyOf:
                    - type: integer
                      minimum: 0
                    - type: 'null'
                  charged_cost:
                    type: number
                    minimum: 0
                    description: Cost charged in USD
                  poll_url:
                    anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                  project_id:
                    anyOf:
                    - type: string
                      pattern: ^prj_\S+$
                      description: Project identifier
                      examples:
                      - prj_abc123
                    - type: 'null'
                    description: Project identifier
                required:
                - run_id
                - type
                - estimated_seconds
                - charged_cost
        '400':
          description: '400'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                input_validation_error:
                  summary: Invalid request
                  value:
                    error:
                      code: input_validation_error
                      message: 'prompt: Required'
                      fields:
                      - field: prompt
                        message: Required
        '401':
          description: '401'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: unauthorized
                      message: Invalid API key.
        '402':
          description: '402'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                insufficient_credits:
                  summary: Insufficient credits
                  value:
                    error:
                      code: insufficient_credits
                      message: Insufficient credits.
        '403':
          description: '403'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                forbidden:
                  summary: Forbidden
                  value:
                    error:
                      code: forbidden
                      message: Forbidden.
        '404':
          description: '404'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                not_found:
                  summary: Not found
                  value:
                    error:
                      code: not_found
                      message: Not found.
        '409':
          description: '409'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                idempotency_duplicate:
                  summary: Conflict
                  value:
                    error:
                      code: idempotency_duplicate
                      message: Duplicate idempotency key.
        '429':
          description: '429'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                rate_limited:
                  summary: Rate limited
                  value:
                    error:
                      code: rate_limited
                      message: Rate limit exceeded.
        '500':
          description: '500'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                unknown_error:
                  summary: Unknown error
                  value:
                    error:
                      code: unknown_error
                      message: An unknown error occurred.
  /runs/generation:
    post:
      operationId: createGenerationRun
      summary: Start a generation run
      description: Starts a model generation run in a project canvas using a prompt, workspace, project, optional model, and optional model parameters. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
      deprecated: true
      tags:
      - Runs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              - prompt
              - workspace_id
              - project_id
              additionalProperties: false
              properties:
                type:
                  type: string
                  enum:
                  - image
                  - video
                  - audio
                  - text
                  description: Generation type
                prompt:
                  type: string
                  minLength: 1
                  description: Generation prompt
                  examples:
                  - A cinematic product photo of a ceramic mug on a sunlit table
                model:
                  type: string
                  description: Model endpoint ID
                  examples:
                  - t2i-flux-2-pro
                workspace_id:
                  type: string
                  description: Workspace identifier
                  examples:
                  - ws_abc123
                project_id:
                  type: string
                  description: Project identifier
                  examples:
                  - prj_abc123
                params:
                  type: object
                  description: Model parameters
                  additionalProperties: true
      responses:
        '201':
          description: Generation run started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id:
                    type: string
                    pattern: ^run_\S+$
                    description: Run identifier
                    examples:
                    - run_abc123
                  type:
                    enum:
                    - generation
                    - technique
                    - action
                    type: string
                    description: Run type
                  model:
                    anyOf:
                    - type: object
                      properties:
                        model_id:
                          type: string
                          minLength: 1
                          description: Model identifier
                          examples:
                          - t2i-flux-2-pro
                      required:
                      - model_id
                    - type: 'null'
                  technique:
                    anyOf:
                    - type: object
                      properties:
                        technique_id:
                          type: string
                          pattern: ^tech_\S+$
                          description: Technique identifier
                          examples:
                          - tech_abcd1234
                        name:
                          type: string
                          description: Technique name
                      required:
                      - technique_id
                      - name
                    - type: 'null'
                  action:
                    anyOf:
                    - type: object
                      properties:
                        action_id:
                          enum:
                          - split-text
                          - find-and-replace-text
                          - concat-text
                          - ken-burns-video
                          - color-grade-image
                          - change-image-ar
                          - rotate-image
                          - flip-image
                          - color-filter-image
                          - color-tint-image
                          - filter-color-image
                          - blur-image
                          - duplicate-image
                          - side-by-side-composite
                          - add-shape-to-image
                          - generate-shape-image
                          - add-text-to-image
                          - generate-text-image
                          - qr-code-generator
                          - stitch-videos
                          - split-video
                          - extract-video-frames
                          - color-grade-video
                          - video-to-frame-grid
                          - boomerang-video
                          - reverse-video
                          - video-to-long-exposure
                          - video-effect
                          - color-filter-video
                          - speed-up-video
                          - slow-down-video
                          - duplicate-video
                          - greenscreen-video
                          - resize-video
                          - change-video-ar
                          - split-audio-from-video
                          - merge-audio-into-video
                          type: string
                          description: Action identifier
                          examples:
                          - split-text
                          - find-and-replace-text
                          - concat-text
                          - ken-burns-video
                          - color-grade-image
                          - change-image-ar
                          - rotate-image
                          - flip-image
                          - color-filter-image
                          - color-tint-image
                          - filter-color-image
                          - blur-image
                          - duplicate-image
                          - side-by-side-composite
                          - add-shape-to-image
                          - generate-shape-image
                          - add-text-to-image
                          - generate-text-image
                          - qr-code-generator
                          - stitch-videos
                          - split-video
                          - extract-video-frames
                          - color-grade-video
                          - video-to-frame-grid
                          - boomerang-video
                          - reverse-video
                          - video-to-long-exposure
                          - video-effect
                          - color-filter-video
                          - speed-up-video
                          - slow-down-video
                          - duplicate-video
                          - greenscreen-video
                          - resize-video
                          - change-video-ar
                          - split-audio-from-video
                          - merge-audio-into-video
                      required:
                      - action_id
                    - type: 'null'
                  estimated_seconds:
                    anyOf:
                    - type: integer
                      minimum: 0
                    - type: 'null'
                  charged_cost:
                    type: number
                    minimum: 0
                    description: Cost charged in USD
                  poll_url:
                    anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                  project_id:
                    anyOf:
                    - type: string
                      pattern: ^prj_\S+$
                      description: Project identifier
                      examples:
                      - prj_abc123
                    - type: 'null'
                    description: Project identifier
                required:
                - run_id
                - type
                - estimated_seconds
                - charged_cost
        '400':
          description: '400'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                input_validation_error:
                  summary: Invalid request
                  value:
                    error:
                      code: input_validation_error
                      message: 'prompt: Required'
                      fields:
                      - field: prompt
                        message: Required
        '401':
          description: '401'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: unauthorized
                      message: Invalid API key.
        '402':
          description: '402'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                insufficient_credits:
                  summary: Insufficient credits
                  value:
                    error:
                      code: insufficient_credits
                      message: Insufficient credits.
        '403':
          description: '403'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                forbidden:
                  summary: Forbidden
                  value:
                    error:
                      code: forbidden
                      message: Forbidden.
        '404':
          description: '404'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                not_found:
                  summary: Not found
                  value:
                    error:
                      code: not_found
                      message: Not found.
        '409':
          description: '409'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                idempotency_duplicate:
                  summary: Conflict
                  value:
                    error:
                      code: idempotency_duplicate
                      message: Duplicate idempotency key.
        '429':
          description: '429'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                rate_limited:
                  summary: Rate limited
                  value:
                    error:
                      code: rate_limited
                      message: Rate limit exceeded.
        '500':
          description: '500'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                unknown_error:
                  summary: Unknown error
                  value:
                    error:
                      code: unknown_error
                      message: An unknown error occurred.
  /runs/technique:
    post:
      operationId: createTopLevelTechniqueRun
      summary: Start a top-level technique run
      description: Starts a technique run through the normalized top-level run resource. Mutating public API requests support an optional Idempotency-Key header for client retries; duplicate keys within two hours return idempotency_duplicate.
      tags:
      - Runs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - technique_id
              - workspace_id
              - inputs
              additionalProperties: false
              properties:
                technique_id:
                  type: string
                  description: Technique identifier
                  examples:
                  - tech_abcd1234
                workspace_id:
                  type: string
                  description: Workspace identifier
                  examples:
                  - ws_abc123
                inputs:
                  type: object
                  description: Technique inputs
                  additionalProperties: true
      responses:
        '201':
          description: Technique run started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id:
                    type: string
                    pattern: ^run_\S+$
                    description: Run identifier
                    examples:
                    - run_abc123
                  type:
                    enum:
                    - generation
                    - technique
                    - action
                    type: string
                    description: Run type
                  model:
                    anyOf:
                    - type: object
                      properties:
                        model_id:
                          type: string
                          minLength: 1
                          description: Model identifier
                          examples:
                          - t2i-flux-2-pro
                      required:
                      - model_id
                    - type: 'null'
                  technique:
                    anyOf:
                    - type: object
                      properties:
                        technique_id:
                          type: string
                          pattern: ^tech_\S+$
                          description: Technique identifier
                          examples:
                          - tech_abcd1234
                        name:
                          type: string
                          description: Technique name
                      required:
                      - technique_id
                      - name
                    - type: 'null'
                  action:
                    anyOf:
                    - type: object
                      properties:
                        action_id:
                          enum:
                          - split-text
                          - find-and-replace-text
                          - concat-text
                          - ken-burns-video
                          - color-grade-image
                          - change-image-ar
                          - rotate-image
                          - flip-image
                          - color-filter-image
                          - color-tint-image
                          - filter-color-image
                          - blur-image
                          - duplicate-image
                          - side-by-side-composite
                          - add-shape-to-image
                          - generate-shape-image
                          - add-text-to-image
                          - generate-text-image
                          - qr-code-generator
                          - stitch-videos
                          - split-video
                          - extract-video-frames
                          - color-grade-video
                          - video-to-frame-grid
                          - boomerang-video
                          - reverse-video
                          - video-to-long-exposure
                          - video-effect
                          - color-filter-video
                          - speed-up-video
                          - slow-down-video
                          - duplicate-video
                          - greenscreen-video
                          - resize-video
                          - change-video-ar
                          - split-audio-from-video
                          - merge-audio-into-video
                          type: string
                          description: Action identifier
                          examples:
                          - split-text
                          - find-and-replace-text
                          - concat-text
                          - ken-burns-video
                          - color-grade-image
                          - change-image-ar
                          - rotate-image
                          - flip-image
                          - color-filter-image
                          - color-tint-image
                          - filter-color-image
                          - blur-image
                          - duplicate-image
                          - side-by-side-composite
                          - add-shape-to-image
                          - generate-shape-image
                          - add-text-to-image
                          - generate-text-image
                          - qr-code-generator
                          - stitch-videos
                          - split-video
                          - extract-video-frames
                          - color-grade-video
                          - video-to-frame-grid
                          - boomerang-video
                          - reverse-video
                          - video-to-long-exposure
                          - video-effect
                          - color-filter-video
                          - speed-up-video
                          - slow-down-video
                          - duplicate-video
                          - greenscreen-video
                          - resize-video
                          - change-video-ar
                          - split-audio-from-video
                          - merge-audio-into-video
                      required:
                      - action_id
                    - type: 'null'
                  estimated_seconds:
                    anyOf:
                    - type: integer
                      minimum: 0
                    - type: 'null'
                  charged_cost:
                    type: number
                    minimum: 0
                    description: Cost charged in USD
                  poll_url:
                    anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                  project_id:
                    anyOf:
                    - type: string
                      pattern: ^prj_\S+$
                      description: Project identifier
                      examples:
                      - prj_abc123
                    - type: 'null'
                    description: Project identifier
                required:
                - run_id
                - type
                - estimated_seconds
                - charged_cost
        '400':
          description: '400'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                input_validation_error:
                  summary: Invalid request
                  value:
                    error:
                      code: input_validation_error
                      message: 'prompt: Required'
                      fields:
                      - field: prompt
                        message: Required
        '401':
          description: '401'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: unauthorized
                      message: Invalid API key.
        '402':
          description: '402'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                insufficient_credits:
                  summary: Insufficient credits
                  value:
                    error:
                      code: insufficient_credits
                      message: Insufficient credits.
        '403':
          description: '403'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                forbidden:
                  summary: Forbidden
                  value:
                    error:
                      code: forbidden
                      message: Forbidden.
        '404':
          description: '404'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                not_found:
                  summary: Not found
                  value:
                    error:
                      code: not_found
                      message: Not found.
        '409':
          description: '409'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                idempotency_duplicate:
                  summary: Conflict
                  value:
                    error:
                      code: idempotency_duplicate
                      message: Duplicate idempotency key.
        '429':
          description: '429'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                rate_limited:
                  summary: Rate limited
                  value:
                    error:
                      code: rate_limited
                      message: Rate limit exceeded.
        '500':
          description: '500'
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                    - code
                    - message
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        enum:
                        - unauthorized
                        - invalid_api_key
                        - forbidden
                        - invalid_json
                        - input_validation_error
                        - not_found
                        - insufficient_credits
                        - idempotency_duplicate
                        - rate_limited
                        - unknown_error
                        examples:
                        - input_validation_error
                      message:
                        type: string
                        examples:
                        - 'name: Required'
                      fields:
                        type: array
                        items:
                          type: object
                          required:
                          - field
                          - message
                          additionalProperties: false
                          properties:
                            field:
                              type: string
                              examples:
                              - name
                            message:
                              type: string
                              examples:
                              - Required
              examples:
                unknown_error:
                  summary: Unknown error
                  value:
                    error:
                      code: unknown_error
                      message: An unknown error occurred.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Flora API key
